<build>
  <directory name="BaseTFSDir" value="$/B2B/Websites/MFG/Staging"/>
  <directory name="BaseDeploymentDir" value="\\development.stamats.com\MeetingsFocusStaging"/>
  <directory name="BaseZipDeploymentDir" value="\\development.stamats.com\MeetingsFocusDev\_build\Staging"/>
  <directory name="BuildDeploymentDir" value="\\development.stamats.com\MeetingsFocusDev\_build\Staging\"/>
  <directory name="SqlDeploymentDir" value="\\development.stamats.com\MeetingsFocusDev\_build\Staging\SQL\" />
  <connectionstring>
    Data Source=databasedev.stamats.com;Initial Catalog=meetingsfocus;User ID=DNN;Password=Sci615
  </connectionstring>  
</build>
