<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="toBuildingsDev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="toDev.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <toBuildingsDev.Properties.Settings>
            <setting name="TFSServerUrl" serializeAs="String">
                <value>http://team:8080/tfs/WebSites</value>
            </setting>
            <setting name="BaseTFSDir" serializeAs="String">
                <value>$/BuildingsDev</value>
            </setting>
            <setting name="BaseDeploymentDir" serializeAs="String">
                <value>\\development.stamats.com\BuildingsDev</value>
            </setting>
            <setting name="BaseZipDeploymentDir" serializeAs="String">
                <value>\\development.stamats.com\BuildingsDev\_build</value>
            </setting>
        </toBuildingsDev.Properties.Settings>
        <toDev.Properties.Settings>
            <setting name="TFSServerUrl" serializeAs="String">
                <value>http://team:8080/tfs/Training</value>
            </setting>
            <setting name="BaseTFSDir" serializeAs="String">
                <value>$/Stamats Corp Site/TestApp1</value>
            </setting>
            <setting name="BaseDeploymentDir" serializeAs="String">
                <value>\\development.stamats.com\MeetingsfocusDev</value>
            </setting>
            <setting name="BaseZipDeploymentDir" serializeAs="String">
                <value>\\development.stamats.com\MeetingsfocusDev\_notes</value>
            </setting>
        </toDev.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
